
div{
    height: 100%;
    flex-direction: column;
	display:flex;
    align-items: center;
    justify-content: center;
}

h2{
    animation: rotate 2s 0s ease infinite;
}

@keyframes rotate{
    0%{transform: rotate(90deg);}
    100%{transform: rotate(450deg);}

}