/* You can add global styles to this file, and also import other style files */

@import "~materialize-css/dist/css/materialize.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~weather-icons/css/weather-icons.min.css";

html,body{
    height:100%;
    margin:0;
    padding:0;
}


h2.loader{
    animation: rotate 2s 0s ease infinite;
    height: 100%;
      flex-direction: column;
	display:flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotate{
    0%{transform: rotate(90deg);}
    100%{transform: rotate(450deg);}

}